/* ===============================
   MAIN CONTAINER
================================== */

.joinfun-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../assets/joinfun.svg") no-repeat center center/cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: black;
}


/* ===============================
   ROTATING ORBIT BACKGROUND
================================== */

.orbit-wrapper {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 85%;
    transform: translate(50%, 60%, );
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    margin-top: 5%;
    padding-right: 50%;
}

.rotating-orbit {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    right: -50%;
    object-fit: contain;
    animation: rotateOrbit 15s linear infinite;
    transform-origin: center;
    opacity: 0.9;
    overflow: hidden;
}

@keyframes rotateOrbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ===============================
   CENTER CONTENT
================================== */

.joinfun-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* QR IMAGES */

.qr-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.qr-img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
}


/* TITLE TEXT */

.join-title {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    margin: 0;
}


/* ===============================
   RESPONSIVE DESIGN
================================== */

@media (max-width: 1024px) {
    .join-title {
        font-size: 38px;
    }
    .qr-img {
        width: 80px;
        height: 80px;
    }
    .orbit-wrapper {
        top: 0%;
        right: 0%;
        width: 100%;
        height: 78%;
        margin-top: 12%;
        padding-right: 50%;
    }
    .rotating-orbit {
        width: 110%;
        height: 110%;
        top: -5%;
        right: -5%;
    }
}

@media (max-width: 768px) {
    .join-title {
        font-size: 36px;
    }
    .qr-box {
        flex-direction: column;
        gap: 12px;
    }
    .qr-img {
        width: 100px;
        height: 100px;
    }
    .rotating-orbit {
        width: 140%;
        height: 140%;
        top: -20%;
        right: -20%;
    }
}

@media (max-width: 480px) {
    .join-title {
        font-size: 30px;
    }
    .qr-img {
        width: 85px;
        height: 85px;
    }
    .orbit-wrapper {
        top: 0%;
        right: 0%;
        width: 100%;
        height: 78%;
        margin-top: 12%;
        padding-right: 50%;
    }
    .rotating-orbit {
        width: 150%;
        height: 150%;
        top: -20%;
        right: -25%;
    }
}